/* mobile style */

/* reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(197, 213, 222);
}

/* common */
.section-header {
  text-align: center;
}

.faces {
  display: flex;
  flex-direction: column;
}

.face {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.face--medium {
  font-size: 2rem;
}

.face--large {
  font-size: 3rem;
}

.face__title{
  margin: 1rem;
}

/* header */
.header-container {
  background-color: rgb(32, 85, 111);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header-logo {
  width: 120px;
}
.header-title {
  color: #fff;
}

/* graphs */
.graphs {
  display: flex;
  flex-direction: column;
}
.graph {
  margin: 1rem;
  padding: 1rem;
  border: 3px solid salmon;
}

/*  footer  */
.footer-container {
  background-color: rgb(32, 85, 111);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  bottom: 0;
}
.footer-logo {
  width: 50px;
  margin-right: 1rem;
}
.footer-title {
  color: #fff;
}

/* pc style */
@media (min-width: 40rem) {
  .graphs {
    flex-direction: row;
    justify-content: space-around;
  }

  .graph {
    width: 45%;
  }

  .faces {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
