* {
  box-sizing: border-box;
  /* background-color: salmon; */
}

body {
  margin: 0;
  padding: 0;
}
.header-container {
  background-color: rgb(32, 85, 111);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header-logo {
  width: 120px;
}
.header-title {
  color: #fff;
}
main {
  height: 500px;
}
.footer-container {
  background-color: rgb(32, 85, 111);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  bottom: 0;
}
.footer-logo {
  width: 50px;
  margin-right: 1rem;
}
.footer-title {
  color: #fff;
}
