/* reset */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(197, 213, 222);
}

/* header */
.header-container {
  background-color: rgb(32, 85, 111);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.header-logo {
  width: 120px;
}
.header-title {
  color: #fff;
}

/* graphs */
.graphs {
  display: flex;
  flex-direction: column;
}
.graph {
  margin: 1rem;
  padding: 1rem;
  border: 3px solid salmon;
}

/*  footer  */
.footer-container {
  background-color: rgb(32, 85, 111);
  display: flex;
  align-items: center;
  padding: 0.5rem;
  position: relative;
  bottom: 0;
}
.footer-logo {
  width: 50px;
  margin-right: 1rem;
}
.footer-title {
  color: #fff;
}
